body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c5bfbe;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.header {
    display: flex;
    flex-flow: column;
    margin: 3rem;
    font-size: larger;
}

h1, h2 {
    text-align: center;
    
}

h2 {
    margin-top: 0 rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 40px 3rem 40px;
}

.project {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.box {
    width: 160px;
    max-width: 40vw;
    height: 160px;
    max-height: 40vh;
    border-radius: 8px;
    border: 2px solid black;
}

.box>img {
    height: 100%;
    width: fit-content;
    border-radius: 8px;
}

.footer {
    margin-top: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    width: 100%;
}
