body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #67619e;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.header {
    display: flex;
    flex-flow: column;
}

h1, h2 {
    text-align: center;
    
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.box {
    width: 20vw;
    max-width: 160px;
    height: 20vh;
    max-height: 160px;
    border-radius: 8px;
    border: 2px solid black;
}

.box:hover {
    border-style: inset;
}

.box-1 {
    background-image: linear-gradient(to bottom right, #3FFDA9, #5A0468);
}

.box-2 {
    background-image: linear-gradient(to bottom, #1f2937, #f9faf8);
}

.box-3 {
    background-image: linear-gradient(to bottom left, #C2C8C4, #4C525F);
}

.box-4 {
    background-image: linear-gradient(to top right, #000000, #FF8800)
}

.box-5 {
    background-image: linear-gradient(to top left, #f6c275, #114b5d);
}